# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environments
.venv/
env/
venv/
ENV/

# Conda environments
*.conda
*.yml
*.yaml
*.lock
conda-meta/
*.egg-info/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db
